:root {
  --color-1: #eeedf1;
  --color-2: #c8c3c9;
  --color-3: #4f5965;
  --color-4: #4d4c64;
  --color-5: #2c3742;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1494216928456-ae75fd96603d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-size: auto;
  background-position-y: -250px;
  background-attachment: fixed;
  color: var(--color-5);
}

input {
  font-family: 'Inter', sans-serif;
  padding: 13px;
  box-shadow: inset 3px 3px 5px var(--color-3);
  border-radius: 10px;
  border: none;
  transition: 300ms ease-in-out;
}

input:focus {
  box-shadow: 3px 3px 5px var(--color-3);
  border: none;
  outline: none;
}

button {
  font-family: 'Inter', sans-serif;
  padding: 8px 20px;
  box-shadow: 3px 3px 5px var(--color-3);
  border: 1px solid var(--color-5);
  border-radius: 10px;
}

button:active {
  box-shadow: inset 3px 3px 5px var(--color-3);
}

button:disabled {
  box-shadow: none;
}

header {
  width: 100vw;
  height: 70px;
  background-color: var(--color-5);
  color: var(--color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  opacity: 95%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: var(--color-5);
  color: var(--color-1);
  display: flex;
  justify-content: end;
  align-items: center;
  opacity: 95%;
}

footer p {
  margin-right: 30px;
}

header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header a {
  font-weight: 600;
  color: var(--color-2);
  margin: 30px;
}

header a:hover {
  color: var(--color-1);
}

a {
  color: var(--color-3);
  text-decoration: none;
}

a:hover {
  font-weight: 600;
  color: var(--color-4);
}

.App {
  margin-bottom: 50px;
}

main, .AddVehicle, .Vehicles, .Appliances, .AddTrip, .AddUsage, .AddVehicle div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AddVehicle div {
  min-width: 500px;
}

.Vehicles, .Appliances, .AddUsage > div, .AddTrip > div {
  width: 500px;
}

.card {
  width: 100%;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-color: #a7cbba;
  box-shadow: 5px 5px 10px var(--color-3);
  opacity: 95%;
}

.AddAppliance {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hover-green:hover {
  background-color: #b8dccb;
}

.green {
  background-color: #b8dccb;
}

.reset {
  margin: 10px 0 20px 0;
}

.vehicle-selection {
  margin: 20px;
}

.home-link {
  font-size: 24px;
  color: #9cbb9c;
}

.darkgreen-text {
  color: #6a706e;
}

.vehicle-card, .appliance-card, .trip-card, .usage-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.recurring-selector {
  display: flex;
  justify-content: center;
}

#trip-onetime, #trip-recurring, #usage-onetime, #usage-recurring, #filter-recurring, #filter-onetime, #filter-all {
  padding-left: 35px;
  padding-right: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

#trip-onetime:disabled, #trip-recurring:disabled, #usage-onetime:disabled, #usage-recurring:disabled, #filter-recurring:disabled, #filter-onetime:disabled, #filter-all:disabled {
  background-color: var(--color-4);
  color: var(--color-1);
  box-shadow: inset 3px 3px 5px var(--color-5);
}

.Footprint {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footprint-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footprint-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Usages, .Trips {
  width: 500px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login, .signup {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  font-family: 'Inter', sans-serif;
  padding: 5px;
  margin-top: 5px;
}